flows2.json
[{"id":"f3f4be97.a91b6","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"91e2108a.f0096","type":"function","z":"f3f4be97.a91b6","name":"","func":"msg.headers={\n    deviceKey:\"8XLRzyRbyReLNhRn\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["714b3ee9.67da2"]]},{"id":"714b3ee9.67da2","type":"http request","z":"f3f4be97.a91b6","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DSN64wMG/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":200,"wires":[["e4384618.65f408","68e93ad9.ff2cf4"]]},{"id":"e4384618.65f408","type":"http response","z":"f3f4be97.a91b6","name":"","statusCode":"","headers":{},"x":610,"y":200,"wires":[]},{"id":"68e93ad9.ff2cf4","type":"debug","z":"f3f4be97.a91b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":260,"wires":[]},{"id":"e6897a74.895a48","type":"inject","z":"f3f4be97.a91b6","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":200,"wires":[["91e2108a.f0096"]]}]