flows.json
[{"id":"cb94ab69.5f6098","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"e0137f6c.5c75b","type":"rpi-gpio in","z":"cb94ab69.5f6098","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":50,"y":140,"wires":[["210050bb.d0d54","b77746a2.378568"]]},{"id":"210050bb.d0d54","type":"debug","z":"cb94ab69.5f6098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":100,"wires":[]},{"id":"c9e9b242.90be6","type":"rpi-gpio out","z":"cb94ab69.5f6098","name":"LED","pin":"11","set":false,"level":"0","freq":"","out":"out","x":430,"y":180,"wires":[]},{"id":"b77746a2.378568","type":"switch","z":"cb94ab69.5f6098","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":220,"wires":[["7df70a3d.c6bfe4"],["5c1fbb4f.4e2524"]]},{"id":"7df70a3d.c6bfe4","type":"change","z":"cb94ab69.5f6098","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["c9e9b242.90be6"]]},{"id":"5c1fbb4f.4e2524","type":"change","z":"cb94ab69.5f6098","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":320,"wires":[["c9e9b242.90be6"]]}]